/* Form.css */

.form-container {
  max-width: 600px;
  margin: 0 auto;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container input,
.form-container textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container input[type="submit"] {
  padding: 10px;
  background-color: #3498db; /* Button color */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Adding a simple transition effect */
}

.form-container input[type="submit"]:hover {
  background-color: #2980b9; /* Change the button color on hover */
}

.form-container p {
  margin: 0;
  margin-top: 5px;
  color: red;
}
